<div class="session" id="workshop-maag">
    <div class="speaker">
		<div class="image"><img src="/img/2017/ws/bruno.png"></div>
		<div class="info">
			<div class="name">Bruno Maag</div>
			<div class="twitter"><a href="http://www.twitter.com/bruno_maag/">@bruno_maag</a></div>
			<div class="bio">
				<p>
                    Bruno began his career with an apprenticeship as a typesetter at Tages-Anzeiger, Switzerlands largest daily newspaper. He then studied Typography and Visual Communcations at Basel School of Design under Wolfgang Weingart and Andre Gürtler amongst others.  After graduating Bruno emigrated to England to work for Monotype where he established their ‘custom type department’, creating fonts for the New Yorker magazine, and others. <br/>
					{% if page.short %}
							<p><a href="/ws-fontchoosing.html">Read more</a></p>
					{% else  %}
                </p>

                <p>
                Recent highlights are fonts for Rio2016, multilingual type for Nokia and HP, and a lovely serif font for luxury hotel brand Faena. He is currently investigating type and emotion, with a special interest in the physiological aspects.

					{% endif %}

				</p>
			</div>

      <div class="name">Tom Foley</div>
      <div class="twitter"><a href="http://www.twitter.com/TFEFoley/">@TFEFoley</a></div>
      <div class="bio">
        <p>
                    Tom Foley is a graphic designer, typographer and type designer currently living and working in London. Tom earned his BA in Visual Communications from Limerick School of Art and Design in 2007 and MA from Central Saint Martins in 2009. Prior to joining Dalton Maag he worked with Polimekanos, Micha Weidmann Studio, Atelier Dreibholz and Atelier David Smith.  <br/>
          {% if page.short %}
              <p><a href="/ws-fontchoosing.html">Read more</a></p>
          {% else  %}
                </p>

                <p>
                Tom also occasionally teaches design and has carried out lectures and workshops at Universities including Central Saint Martins, University of West England, Limerick School of Art & Design, Dun Laoghaire Institute, University of Santa Clara, Ravensbourne and SVA New York. From 2011 - 2015 Tom worked as a full time Font developer at Dalton Maag where he has been involved in custom and library Type design projects covering Latin, Greek, Cyrillic, Tamil and Bengali script systems. Tom currently works as Senior Typographic Advisor at Dalton Maag.

          {% endif %}

        </p>
      </div>


			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br> Biblioteca Comunale di Faenza (1st Floor)<br/>Via Manfredi n. 14<br/>Faenza (RA)
					(<a class="gmap" href="https://www.google.it/maps/place/Via+Manfredi,+14,+48018+Faenza+RA">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Wednesday 7th,Thursday 8th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>

                    {% if page.short %}
                    {% else  %}

                    <b>What:</b><br>
                    <p>Personal laptop with Adobe Photoshop and Illustrator (download <a href="http://www.adobe.com/downloads.html">a 30-day trial</a> if you don’t own it), and FontLab Studio (<a href="http://old.fontlab.com/font-editor/fontlab-studio/download-fontlab-studio/">Demo version</a>)<br/>Notebook/paper, pen, pencil, pencil sharpener, eraser, ruler (etc).
                    </p>
                    <!--div class="sponsor-ws">
                        <b>Sponsored by</b><br/>
                    </div-->
                    {% endif %}
                </div>

				{% if site.tickets %}
				<div class="buy">
					<a href="#tickets">Get your ticket</a>
				</div>
				{% endif %}

			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title"><a href="/ws-fontchoosing.html">How to choose a good font with Bruno Maag e Tom Foley</a></div>
        <div><img src="/img/2017/ws/maag/maag-1.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="How to choose a good font" data-original-title="" title="How to choose a good font"></div>

		<div class="abstract">

            <p class="intro">In this 2-day workshop participants are lead through the complex maze of how to choose fonts providing detailed insight into the selection criteria. </p>
            <p>The workshop is divided into 4 modules, over 2 days, with each module providing a detailed insight into the selection
              criteria when it comes to choosing a font, through mock design projects, exploring aesthetics, emotional attributes,
              functionality, legibility, accessibility language support, meeting client needs, logistics and financing.
            </p>

			{% if page.short %}
				<p><a href="/ws-fontchoosing.html">Read more</a></p>
			{% else  %}

				        <p>Together the four modules will provide the participant with skills and
                knowledge to make the right choices in their day-to-day activities, enhancing their career prospects.
                The practical exercises cement the theoretical learnings through discussion and reasoning.
                At the end of each module, teams are required to present their thinking and reason why their decisions are
                appropriate to the brief.</p>
<div><img src="/img/2017/ws/maag/maag-2.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="How to choose a good font" data-original-title="" title="How to choose a good font"></div>

                <p>Each module will have a specific brief that exercises the theoretical knowledge gained in that module.
                  The modules are designed to have stand-alone value but structurally the participants will benefit most
                  from the narrative of the entire workshop.</p>

                <p>The four modules are:
                  <ul>
                    <li>- Aesthetic style / Emotional attributes: The introduction discusses an overview of brand archetypes and how they relate to typefaces.</li>
                    <li>- Functionality / Digital: The introduction looks at the challenges a brand designer faces today having to create products that must work in myriad environments.</li>
                    <li>- Multiscript / International: Using real life case studies the introduction explains the challenges of matching differing writing systems into a single visual and aesthetic unit.</li>
                    <li>- Logistics and Finances: Aesthetic, Functional and Communication requirements are finalised and the client is happy. At this point a budget has to be created for the making or licensing of the typeface.</li>
                  </ul>
                </p>

			{% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2017.kerning.it/ws-fontchoosing.html" addthis:title="How to choose a good font with Bruno Maag e Tom Foley at Kerning Conference 2017" addthis:description="HOW TO CHOOSE A GOOD FONT with Bruno Maag e Tom Foley">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
