<div class="session" id="workshop-barcellona">
    <div class="speaker">
		<div class="image"><img src="img/2017/ws/barcellona.png"></div>
		<div class="info">
			<div class="name">Luca Barcellona</div>
			<div class="twitter"><a href="http://www.twitter.com/barcellonaluca/">@barcellonaluca</a></div>
			<div class="bio">
				<p><a href="http://www.lucabarcellona.com">Luca Barcellona</a> has his own studio in Milan, where he works as a freelance graphic designer and calligrapher. Letters are the main ingredient of his creations. He teaches calligraphy with the Associazione Calligrafica Italiana and holds workshops and lectures in several cities. </p>
				<p>The means of his work is to make the manual skill of an ancient art as writing and the languages and instruments of the digital era coexist. </p>
				<p>Among the brands that requested his lettering we can number Carhartt, Nike,  Mondadori, Zoo York, Dolce & Gabbana, Sony BMG, Seat, Volvo, Universal, Eni, Mont Blanc, Wall Street Institute. </p>
				<p>He recently published his first monographic book “Take Your Pleasure Seriously” by Lazy Dog press.</p> 
				<p>His study into lettering led him to experience from graffiti to classic calligraphy, up to big wallpainting, typography and letterpress printing.</p>	
			</div>
			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br>
					Complesso dei Salesiani<br>
					Via San Giovanni Bosco n. 1<br>
					Faenza (RA)<br>
					(<a class="gmap" href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z">View on Google Maps</a>)<br><br>

                    <b>What:</b><br>
                    <p>A "Drawing Kit" will be provided.<br/>Bring with you Notebook/paper, pen, pencil, pencil sharpener, eraser, ruler (etc).
                    </p><br>
                    
					<b>When:</b><br>
					Wednesday 7th and Thursday 8th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>
                    
                </div>

                {% if site.tickets %}
                <div class="buy">
                    <a href="#tickets">Get your ticket</a>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
	<div class="topic">
        <div class="title"><a href="/ws-calligraphy.html">A Capital Importance: a Calligraphy workshop with Luca Barcellona</a></div>
		<div class="abstract">
            <div><a href="/ws-calligraphy.html"><img src="/img/2017/ws/barcellona/calligraphy_1.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="A Capital Importance: a Calligraphy workshop with Luca Barcellona." data-original-title="" title="An introduction to the world of Calligraphy with Luca Barcellona."></a></div>
			<p class="intro">A deep immersion into the vast world of Calligraphy and his tools through the works of Luca Barcellona, who made of contemporary calligraphy his personal mission and lifestyle.</p>

<p>Street signs, packaging, wine labels, logotypes, tattoos and advertising: calligraphy today is still is everywhere, but how can we recognise a well done lettering?
Calligraphy is helpful for every graphic designer and type designer, and is something that everyone should know for their visual culture.</p>

            
            {% if page.short %}
				<p><a href="/ws-calligraphy.html">Read more</a></p>
			{% else  %}
            
             <div><a href="/ws-calligraphy.html"><img src="/img/2017/ws/barcellona/calligraphy_3.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="A Capital Importance: a Calligraphy workshop with Luca Barcellona." data-original-title="" title="An introduction to the world of Calligraphy with Luca Barcellona."></a></div>

            <p>Humanistic script is the basis for many typefaces we use nowadays, as the letters written with the broad edge pen, brought back by Johnston in the early 19th century with his Foundational.</p>
<p>Roman Capitals are our model of beauty in letterforms, in two thousand years they survived to all fashion styles, and that's where serifs came from.</p>
<p>During the workshop we will rewrite these letterforms and compose a small text (working on interlinear space and kerning).
A "Drawing Kit" will be provided. The kit will include a Parallel stroke pen, ink refill, drawing sheets, pencils, thin marker, glue.</p>
            
            {% endif %}
            
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2017.kerning.it/ws-calligraphy.html" addthis:title="A Capital Importance: a Calligraphy workshop with Luca Barcellona at Kerning Conference 2017" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>